@import "tailwindcss";

@theme {
  --color-obsidian-950: #080a10;
  --color-obsidian-900: #0e121d;
  --color-obsidian-800: #161c2c;
  --color-obsidian-700: #242d44;
  --color-obsidian-600: #35425f;
  --color-obsidian-500: #4a5a7b;
  --color-obsidian-400: #6b7c9f;
  --color-obsidian-300: #93a2c0;
  
  --color-focus-purple: #9d4edd;
  --color-focus-indigo: #4361ee;
  --color-focus-cyan: #4cc9f0;
}
